# Laravel (backend)
/spotify-backend/vendor/
/spotify-backend/node_modules/
/spotify-backend/.env
/spotify-backend/storage/
/spotify-backend/bootstrap/cache/

# React (frontend)
/spotify-frontend/node_modules/
/spotify-frontend/build/

# Archivos del sistema
.DS_Store
Thumbs.db